<html lang="es">
    <head>
        <title>Facebluff</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/print.css" media="print" />
        <link rel="shortcut icon" href="./images/TODO.png" sizes="16x16">
        <script src="./javascript/tasks.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="encabezado">
            <img class="logo" src="./images/TODO.png">
        </div>
        <div class="contenido">
            <div class="formSignup">
                    <form class="form" method="post" action="/signup" name="fSignup">
                        <input type="text" class="name" placeholder="Dirección de correo" name="usuario" required/>
                        <input type="password" class="pass" placeholder="Contraseña" name="pass" required>
                        <input type="text" class="fullName" placeholder="Nombre completo" name="fullName" required/>
                        <input type="radio" class="gender" name="usuario" value="Masculino"> Masculino <br>
                        <input type="radio" class="gender" name="usuario" value="Femenino"> Femenino <br>
                        <input type="radio" class="gender" name="usuario" value="Otro"> Otro <br>
                        <input type="date" class="nacimiento" placeholder="dd/mm/yyyy" name="nacimiento">
                        <input type="file" class="imagen" name="imagen">
                        <input type="submit" class="submit" value="Crear usuario"/>
                    </form>  
                
                <% if(errorMsg !== null) {%>
                <div id="signError">
                    <a class="signError"><%= errorMsg %></a>
                </div>
                <% } %>
            </div>
        </div>
    </body>
</html>